@font-face {
    font-family: 'UKIJ Ekran';
    src: local('UKIJ Ekran'), local('UKIJEkran'),
        url('UKIJEkran.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'UKIJ Ekran';
    src: local('UKIJ Ekran Bold'), local('UKIJEkran-Bold'),
        url('UKIJEkran-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

